.bg-img {
    background-image: url(./img/bg.jpg);
    background-size: 100% 100%;
    height: auto !important;
}

.bg-main {
    background-color: lightgray;
}

.stage {
    margin: 20 auto;
    align-self: center;
    border: 2px;
    border-radius: 4px;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0);
}

.content {
    align-self: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 2em;
    margin: auto;
    background-color: whitesmoke;
}

.dj-text {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.dj-card {
    font-size: 18px;
    font-weight: 300;
    line-height: 2em;
    background-color: whitesmoke;
}

.dj-card-text {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.dj-article-img {
    max-width: 100%;
}

.card-img {
    object-fit: cover
}

.crop {
    overflow: hidden;
    max-height: 350px;
}

.md-card-header {
    height: 50px;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}

md-tabs {
	background-color: #737373
}

md-toolbar {
	background-color: rgb(138, 138, 138) !important;
    color: rgb(53, 53, 53) !important;
}

md-toolbar > div {
	padding-left: 3% !important;
}

md-tabs {
	padding-left: 5%;
	z-index: 1000;
}

md-content {
	padding: 0 !important;
}

md-card {
	padding: 0 !important;
}

footer {
	background-color: #444444;
	color: #eaeaea;
	height: 45px;
	margin-top: 5px;
	z-index: 1000;
}

.footer-left {
	padding-left: 2%;
    padding-top: 22px;
}

.fade {
    
    left: 0;
    right: 0;
    opacity: 1;
}
.fade.ng-enter
 {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}
md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: rgb(88, 220, 94) !important;
    background: rgb(88, 220, 94) !important;
}
md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: rgb(211, 211, 211);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 14px !important;
    font-weight: lighter;
}

.overlay {
    position: absolute; 
    top: 350px; 
    left: 0; 
    width: 100%; 
}

h2 span { 
   color: white; 
   font: bold 30px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   
}

h3 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
   
}

@font-face {
    font-family: Dissolve Regular;
    src: url(./fonts/disolve_regular.ttf);
}